<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://attendanceprofunctions.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/232bf1e2-cfcb-4859-8f8a-0e69c8ce8c75/resourcegroups/AttendancePro/providers/Microsoft.Web/sites/AttendanceProFunctions</ResourceId>
    <UserName>$AttendanceProFunctions</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://attendanceprofunctions.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>